.venv/
venv_gtk/
venv_gtk_release/
venv_release_win/
experiments/
build/
dist/
.idea/
.flatpak-builder/
build_flatpak/
build_gtk/
build_gtk_release/
model_weights/*
!model_weights/checksums_sha256.txt
!model_weights/*.license
!model_weights/3rd_party/
!model_weights/3rd_party/*.license
datasets/
packaging/windows/deps/
lada/locale/*/
*.pt
*.pth